[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/airline-themes"]
	path = .vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule ".vim/bundle/slime"]
	path = .vim/bundle/slime
	url = https://github.com/jpalardy/vim-slime
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/asyncrun"]
	path = .vim/bundle/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim
[submodule ".vim/bundle/rust"]
	path = .vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/bundle/vim-rest-console"]
	path = .vim/bundle/vim-rest-console
	url = https://github.com/diepm/vim-rest-console
[submodule ".tmux/tpm"]
	path = .tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/noboruma/unite.vim
[submodule ".vim/bundle/vim-clang-format"]
	path = .vim/bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim/bundle/kotlin-vim"]
	path = .vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".vim/bundle/vim-gutentags"]
	path = .vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree
