[submodule "vim/bundle/airline"]
	path =vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
	shallow = true
[submodule "vim/bundle/airline-themes"]
	path =vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	shallow = true
[submodule "vim/bundle/ale"]
	path = vim/pack/submodules/opt/ale
	url = https://github.com/w0rp/ale
	shallow = true
[submodule "vim/bundle/rainbow"]
	path =vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
	shallow = true
[submodule "vim/pack/submodules/opt/tagbar"]
	path = vim/pack/submodules/opt/tagbar
	url = https://github.com/majutsushi/tagbar
	shallow = true
[submodule "vim/bundle/asyncrun"]
	path =vim/bundle/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim
	shallow = true
[submodule "vim/bundle/vim-rest-console"]
	path =vim/bundle/vim-rest-console
	url = https://github.com/diepm/vim-rest-console
	shallow = true
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
	shallow = true
[submodule "vim/pack/submodules/opt/vim-clang-format"]
	path = vim/pack/submodules/opt/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
	shallow = true
[submodule "vim/pack/submodules/opt/vim-gutentags"]
	path = vim/pack/submodules/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
	shallow = true
[submodule "vim/bundle/undotree"]
	path =vim/bundle/undotree
	url = https://github.com/mbbill/undotree
	shallow = true
[submodule "vim/bundle/linediff.vim"]
	path =vim/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
	shallow = true
[submodule "vim/pack/submodules/opt/vim-snippets"]
	path = vim/pack/submodules/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
	shallow = true
[submodule "vim/bundle/tlib"]
	path = vim/pack/submodules/opt/tlib
	url = https://github.com/tomtom/tlib_vim.git
	shallow = true
[submodule "vim/bundle/vim-wordmotion"]
	path =vim/bundle/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion
	shallow = true
[submodule "vim/bundle/vim-textobj-user"]
	path =vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
	shallow = true
[submodule "vim/bundle/vim-textobj-parameter"]
	path =vim/bundle/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter
	shallow = true
[submodule "vim/bundle/vim-textobj-xmlattr"]
	path =vim/bundle/vim-textobj-xmlattr
	url = https://github.com/whatyouhide/vim-textobj-xmlattr
	shallow = true
[submodule "vim/bundle/vim-textobj-variable-segment"]
	path =vim/bundle/vim-textobj-variable-segment
	url = https://github.com/Julian/vim-textobj-variable-segment
	branch = main
	shallow = true
[submodule "vim/bundle/vim-textobj-function"]
	path =vim/bundle/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function
	shallow = true
[submodule "vim/bundle/tabular"]
	path =vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
	shallow = true
[submodule "vim/bundle/vim-easymotion"]
	path =vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
	shallow = true
[submodule "vim/bundle/vim-repeat"]
	path =vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
	shallow = true
[submodule ".gdb/bundle/gdb-dashboard"]
	path = gdb/bundle/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
	shallow = true
[submodule "vim/bundle/vim-notes"]
	path =vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes
	shallow = true
[submodule "vim/bundle/vim-misc"]
	path =vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
	shallow = true
[submodule "vim/bundle/vim-ingo-library"]
	path =vim/bundle/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
	shallow = true
[submodule "vim/pack/submodules/opt/vim-which-key"]
	path = vim/pack/submodules/opt/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key
	shallow = true
[submodule "zsh/plugins/fzf-marks"]
	path = zsh/plugins/fzf-marks
	url = https://github.com/urbainvaes/fzf-marks
	shallow = true
[submodule "vim/bundle/fzf.vim"]
	path =vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
	shallow = true
[submodule "vim/pack/submodules/opt/LanguageClient-neovim"]
	path = vim/pack/submodules/opt/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
	shallow = true
[submodule "tmux/tmux-notifications"]
	path = tmux/tmux-notifications
	url = https://github.com/tcreech/tmux-notifications
	shallow = true
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
	shallow = true
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
	shallow = true
[submodule "vim/pack/submodules/opt/semantic-highlight.vim"]
	path = vim/pack/submodules/opt/semantic-highlight.vim
	url = https://github.com/jaxbot/semantic-highlight.vim
	shallow = true
[submodule "vim/pack/submodules/opt/vim-slime"]
	path = vim/pack/submodules/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime
	shallow = true
	branch = main
[submodule "vim/pack/submodules/opt/rust.vim"]
	path = vim/pack/submodules/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim
	shallow = true
[submodule "vim/pack/submodules/opt/tagfinder"]
	path = vim/pack/submodules/opt/tagfinder
	url = https://github.com/AndrewRadev/tagfinder.vim
	shallow = true
[submodule "vim/pack/submodules/opt/vim-snipmate"]
	path = vim/pack/submodules/opt/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
	shallow = true
[submodule "vim/pack/submodules/opt/vim-javascript"]
	path = vim/pack/submodules/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript
	shallow = true
[submodule "vim/pack/submodules/opt/tlib"]
	path = vim/pack/submodules/opt/tlib
	url = https://github.com/tomtom/tlib_vim.git
	shallow = true
[submodule "vim/pack/submodules/opt/vim-ruby"]
	path = vim/pack/submodules/opt/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
	shallow = true
[submodule "zsh/plugins/zplug"]
	path = zsh/plugins/zplug
	url = https://github.com/zplug/zplug
	shallow = true
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	shallow = true
[submodule "vim/pack/submodules/opt/neosnippet.vim"]
	path = vim/pack/submodules/opt/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
	shallow = true
[submodule "zsh/plugins/per-directory-history"]
	path = zsh/plugins/per-directory-history
	url = https://github.com/jimhester/per-directory-history
	shallow = true
[submodule "qutebrowser/plugins/solarized-everything-css"]
	path = qutebrowser/plugins/solarized-everything-css
	url = https://github.com/alphapapa/solarized-everything-css
	shallow = true
[submodule "vim/pack/submodules/opt/deoplete.nvim"]
	path = vim/pack/submodules/opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
	shallow = true
[submodule "vim/pack/submodules/opt/Extract"]
	path = vim/pack/submodules/opt/Extract
	url = https://github.com/cyansprite/Extract
	shallow = true
[submodule "vim/pack/submodules/opt/neoterm"]
	path = vim/pack/submodules/opt/neoterm
	url = https://github.com/kassio/neoterm
	shallow = true
[submodule "vim/pack/submodules/opt/coc.nvim"]
	path = vim/pack/submodules/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	shallow = true
[submodule "vim/bundle/vim-AutoAdapt"]
	path = vim/bundle/vim-AutoAdapt
	url = https://github.com/inkarkat/vim-AutoAdapt
	shallow = true
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
	shallow = true
[submodule "vim/bundle/colorizer"]
	path = vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer
	shallow = true
[submodule "vim/pack/submodules/opt/vimproc.vim"]
	path = vim/pack/submodules/opt/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
	shallow = true
[submodule "vim/pack/submodules/opt/vim-plugin-AnsiEsc"]
	path = vim/pack/submodules/opt/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc
	shallow = true
[submodule "vim/pack/submodules/opt/vim-test"]
	path = vim/pack/submodules/opt/vim-test
	url = https://github.com/janko/vim-test
	shallow = true
[submodule "zsh/plugins/forgit"]
	path = zsh/plugins/forgit
	url = https://github.com/wfxr/forgit
	shallow = true
[submodule "vim/pack/submodules/opt/Tabmerge"]
	path = vim/pack/submodules/opt/Tabmerge
	url = https://github.com/vim-scripts/Tabmerge
	shallow = true
[submodule "vim/pack/submodules/opt/file-line"]
	path = vim/pack/submodules/opt/file-line
	url = https://github.com/bogado/file-line
	shallow = true
[submodule "vim/pack/submodules/opt/kotlin-vim"]
	path = vim/pack/submodules/opt/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
	shallow = true
[submodule "vim/pack/submodules/opt/vim-autoformat"]
	path = vim/pack/submodules/opt/vim-autoformat
	url = https://github.com/chiel92/vim-autoformat
	shallow = true
[submodule "vim/pack/submodules/opt/typescript-vim"]
	path = vim/pack/submodules/opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
	shallow = true
[submodule "vim/pack/submodules/opt/nerdtree"]
	path = vim/pack/submodules/opt/nerdtree
	url = https://github.com/preservim/nerdtree
	shallow = true
[submodule "vim/pack/submodules/opt/nerdtree-git-plugin"]
	path = vim/pack/submodules/opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
	shallow = true
[submodule "vim/pack/submodules/opt/vim-dadbod"]
	path = vim/pack/submodules/opt/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
	shallow = true
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	shallow = true
[submodule "vim/pack/submodules/opt/mesonic"]
	path = vim/pack/submodules/opt/mesonic
	url = https://github.com/igankevich/mesonic
	shallow = true
[submodule "vim/pack/submodules/opt/splitjoin.vim"]
	path = vim/pack/submodules/opt/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
	shallow = true
[submodule "vim/pack/submodules/opt/nvim-bqf"]
	path = vim/pack/submodules/opt/nvim-bqf
	url = https://github.com/kevinhwang91/nvim-bqf
	shallow = true
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
	shallow = true
[submodule "vim/pack/submodules/opt/vimspector"]
	path = vim/pack/submodules/opt/vimspector
	url = https://github.com/puremourning/vimspector
	shallow = true
[submodule "vim/pack/submodules/opt/nvim-treesitter"]
	path = vim/pack/submodules/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
	shallow = true
[submodule "vim/pack/submodules/opt/nvim-treesitter-textobjects"]
	path = vim/pack/submodules/opt/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
	shallow = true
[submodule "vim/pack/submodules/opt/iswap.nvim"]
	path = vim/pack/submodules/opt/iswap.nvim
	url = https://github.com/mizlan/iswap.nvim
	shallow = true
[submodule "vim/pack/submodules/opt/vim-gitgutter"]
	path = vim/pack/submodules/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
	shallow = true
[submodule "vim/pack/submodules/opt/nvim-lspconfig"]
	path = vim/pack/submodules/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
	shallow = true
[submodule "vim/pack/submodules/opt/lsp-status.nvim"]
	path = vim/pack/submodules/opt/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim
	shallow = true
[submodule "vim/pack/submodules/opt/vim-rhubarb.git"]
	path = vim/pack/submodules/opt/vim-rhubarb.git
	url = https://github.com/tpope/vim-rhubarb.git
	shallow = true
[submodule "vim/pack/submodules/opt/rust-tools.nvim"]
	path = vim/pack/submodules/opt/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim
	shallow = true
[submodule "vim/pack/submodules/opt/nvim-cmp"]
	path = vim/pack/submodules/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
	shallow = true
[submodule "vim/pack/submodules/opt/cmp-nvim-lsp"]
	path = vim/pack/submodules/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
	shallow = true
[submodule "vim/pack/submodules/opt/cmp-vsnip"]
	path = vim/pack/submodules/opt/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
	shallow = true
[submodule "vim/pack/submodules/opt/vim-vsnip"]
	path = vim/pack/submodules/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
	shallow = true
[submodule "vim/pack/submodules/opt/lualine.nvim"]
	path = vim/pack/submodules/opt/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
	shallow = true
[submodule "vim/pack/submodules/opt/nvim-web-devicons"]
	path = vim/pack/submodules/opt/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
	shallow = true
[submodule "vim/pack/submodules/opt/cmp-path"]
	path = vim/pack/submodules/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
	shallow = true
[submodule "vim/pack/submodules/opt/cmp-buffer"]
	path = vim/pack/submodules/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
	shallow = true
[submodule "vim/pack/submodules/opt/cmp-cmdline"]
	path = vim/pack/submodules/opt/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
	shallow = true
[submodule "vim/pack/submodules/opt/godbolt.nvim"]
	path = vim/pack/submodules/opt/godbolt.nvim
	url = https://github.com/p00f/godbolt.nvim
	shallow = true
[submodule "vim/pack/submodules/opt/vim-go"]
	path = vim/pack/submodules/opt/vim-go
	url = https://github.com/fatih/vim-go
	shallow = true
[submodule "vim/pack/submodules/opt/vscode-go"]
	path = vim/pack/submodules/opt/vscode-go
	url = https://github.com/golang/vscode-go
	shallow = true
[submodule "zsh/plugins/zsh-fzf-history-search"]
	path = zsh/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule "zsh/plugins/zsh-autocomplete"]
	path = zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "vim/pack/submodules/opt/mason.nvim"]
	path = vim/pack/submodules/opt/mason.nvim
	url = https://www.github.com/williamboman/mason.nvim
[submodule "vim/pack/submodules/opt/mason-lspconfig.nvim"]
	path = vim/pack/submodules/opt/mason-lspconfig.nvim
	url = https://www.github.com/williamboman/mason-lspconfig.nvim
[submodule "vim/pack/submodules/opt/nvim-dap"]
	path = vim/pack/submodules/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
