snippet ac
	auto const&
snippet str
	std::string
snippet fe
	for(auto const &a : ${1}) {
		${2}
	}
snippet beg
	std::begin(${1})
snippet end
	std::end(${2})
snippet cbeg
	std::cbegin(${1})
snippet cend
	std::cend(${2})
